.container {
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: url("../../assets/backgroundIMG.png") center center / cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .game-logo {
    font-family: "Luckiest Guy", cursive;
    font-size: 4rem;
    color: #0066cc; /* Darker Blue */
    text-shadow: 2px 2px #ffe6e9;
    margin-bottom: 0.3rem;
  }
  
  .logo-underline {
    width: 120px;
    height: 5px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(
      to right,
      #0047ab,
      #003f73
    ); /* Darker Cobalt Blue */
    margin: 0 auto 20px auto;
  }
  
  .game-subtitle {
    font-size: 1.2rem;
    color: #000916; /* Darker Cobalt Blue */
    margin-top: 10px;
  }
  
  .game-btn {
   
    font-size: 1.2rem;
    border-radius: 40px;
    font-weight: bold;
    border: none;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .btn-default {
    background: linear-gradient(
      to right,
      #0096ff,
      #003f73
    ); /* Bright Blue to Darker Cobalt Blue */
  }
  
  .btn-user {
    background: linear-gradient(
      to right,
      #4c6c7c,
      #003f73
    ); /* Darker Cadet Blue to Darker Cobalt Blue */
  }
  
  .game-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
  